@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');

:root {
  --primary-color: #8b80c4;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

header span, header button {
  font-family: inherit;
  font-size: 1.2em;
  color: var(--primary-color);
}

#header-menu {
  background-color: #fff;
  border-style: none;
}

.hero {
  font-family: inherit;
  padding: 0px 10px;
}

.hero h3 {
  font-size: 2em;
  color: var(--primary-color);
  margin: 0.5em 0em;
}

.hero p {
  font-family: "Charis SIL", serif;
}

.hero button {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--primary-color);
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
}

.footer {
  margin-top: 15px;
  background-color: var(--primary-color);
  padding: 10px;
}

.footer h3 {
  margin: 0;
  color: #ffffff;
  font-size: 2em;
}

.footer p {
  font-family: "Charis SIL", serif;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  font-family: "Charis SIL", serif;
  display: inline;
  margin-right: 1em;
}

.footer svg {
  margin-right: 1em;
}

