body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.wrapper {
  width: 75%;
  margin: 0 auto;
}
header {
  background-color: #96ccfd;
  padding: 5px;
}
header h1 {
  display: inline;
  color: #924897;
}
nav {
  display: inline;
}
nav ul {
  display: inherit;
  margin: 0;
  margin-left: 180px;
}
nav ul a {
  text-decoration: none;
  color: #b83023;
}
nav ul a:hover {
  text-decoration: underline dotted;
}
nav li {
  display: inherit;
  margin-left: 10px;
}
nav div {
  display: inline;
  margin-left: 250px;
}
nav img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
section {
  width: 100%;
  height: 300px;
  min-height: 90%;
  background-image: url("./hero_image.jpg");
  background-size: cover;
  text-align: center;
  display: table;
}
section h1 {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #b83023;
  font-size: 34px;
}
